@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
}

body, html{
  width: 100%;
  height: 100%;
}

body, html{
  background-color: #0d0c0c;
  font-family: Trebuchet MS, Helvetica;
}

header{
  width: 100%;
  padding: 10px 0.5% 0px, 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo{
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
}

header #about{
  position: relative;
  margin-top: 30px;
  height: 50px;
  background-color: #e5e5e5;
  text-align: left;
  font-size: 1.5em;
}

#top{
  width: 1920px;
  height: 700px;
  background-image: url(https://i.pinimg.com/originals/74/9b/7a/749b7a781580f60a1de41efb47d825e1.png);
  background-blend-mode: multiply;
  background-color: #f8edff;
}

#niz{
  margin-top: 20px;
  color: #fff;
  font-size: 0.75em;
}

.h1_{
  text-align: center;
  margin-left: 20px;
  height: 60px;
  width: 400px;
}
.h2_{
  text-align: center;
  margin-top: -60px;
  margin-left: 420px;
  height: 60px;
  width: 400px;
}
.h3_{
  text-align: center;
  margin-top: -60px;
  margin-left: 1500px;
  height: 60px;
  width: 400px;
}

.maso{
  font-size: 3em;
  line-height: 45px;
  margin-left: 10px;
  font-family: 'Oswald', serif;
}

.about_{
  position: relative;
  top: 10px;
  font-family: 'Roboto Mono', serif;
  color: #000;
  text-decoration: none;
  margin-left: 10%;
}
.about_:hover{
  color: #b0b0b0;
}

.kyra{
  margin-left: 60px;
  text-decoration: none;
}
.vhod{
  margin-top: 18px;
  color: #fff;
  left: 1820px;
  position: absolute;
}
.voiti{
  left: 1700px;
  position: absolute;
  color: #fff;
  text-decoration: none;
  margin-top: 25px;
  font-family: 'Roboto Mono', serif;
  line-height: 30px;
  font-size: 2em;
}
